@model IEnumerable<rent.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOsobe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdResursa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pocetak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kraj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOsobe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdResursa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pocetak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kraj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRezervacije">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRezervacije">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRezervacije">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
